@model IEnumerable<MIS4200Murray.Models.Appointment>

@{
    ViewBag.Title = "Appointment Index";
}

<h2>Appointment Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Doctor Full Name
        </th>
        <th>
            Payment ID
        </th>
        <th>
            Appointment Date
        </th>
        <th>
            Appointment Reason
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Doctor.doctorFullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment.paymentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appointmentDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.appointmentReason)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.appointmentID }) |
            @Html.ActionLink("Details", "Details", new { id=item.appointmentID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.appointmentID })
        </td>
    </tr>
}

</table>
